<div class="configuration-screen">
  <h1>HUNT THE WUMPUS</h1>
  <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label for="cellsX">Cantidad de Columnas</label>
      <input id="cellsX" type="number" min="1" formControlName="cellsX" />
    </div>
    <div class="field">
      <label for="cellsY">Cantidad de Filas</label>
      <input id="cellsY" type="number" min="1" formControlName="cellsY" />
    </div>
    <div class="field">
      <label for="pits">Cantidad de Pozos</label>
      <input id="pits" type="number" min="0" formControlName="pits" />
    </div>
    <div class="field">
      <label for="arrows">Cantidad de Flechas</label>
      <input id="arrows" type="number" min="0" formControlName="arrows" />
    </div>

    <button type="submit" [disabled]="settingsForm.invalid">JUGAR</button>
  </form>
</div>
