$wallColor: burlywood;
$escapeColor: red;
$goldColor: gold;
$wumpusColor: green;
$clearPathColor: grey;
$pitColor: black;
$wallBorder: 10px;
$breezeColor: #109dfa;
$stinkColor: brown;

.inner-cell {
  height: 90%;
  width: 90%;
  margin-left: 5px;
  margin-top: 5px;
}

.cell-block {
  border: 1px black solid;
  width: 110px;
  height: 110px;
}

.has-breeze {
  background-color: $breezeColor;
}

.has-stink {
  background-color: $stinkColor;
}

.has-gold {
  background-color: $goldColor;
}

.is-wumpus {
  background-color: $wumpusColor;
}

.is-pit {
  background-color: $pitColor;

  border-radius: 50%;
}

.is-clear-path {
  background-color: $clearPathColor;
}

.wall {
  &-left {
    border-left: $wallBorder solid $wallColor;
    &-escape {
      border-left: $wallBorder dashed $escapeColor;
    }
  }
  &-right {
    border-right: $wallBorder solid $wallColor;
    &-escape {
      border-right: $wallBorder dashed $escapeColor;
    }
  }
  &-top {
    border-top: $wallBorder solid $wallColor;
    &-escape {
      border-top: $wallBorder dashed $escapeColor;
    }
  }
  &-bottom {
    border-bottom: $wallBorder solid $wallColor;
    &-escape {
      border-bottom: $wallBorder dashed $escapeColor;
    }
  }
}
