$wallColor: burlywood;
$escapeColor: red;
$goldColor: gold;
$wumpusColor: green;
$wallBorder: 10px;

.cell-block {
  border: 1px black solid;
  width: 110px;
  height: 110px;
}

.has-gold {
  background-color: $goldColor;
}

.is-wumpus {
  background-color: $wumpusColor;
}

.wall {
  &-left {
    border-left: $wallBorder solid $wallColor;
    &-escape {
      border-left: $wallBorder dashed $escapeColor;
    }
  }
  &-right {
    border-right: $wallBorder solid $wallColor;
    &-escape {
      border-right: $wallBorder dashed $escapeColor;
    }
  }
  &-top {
    border-top: $wallBorder solid $wallColor;
    &-escape {
      border-top: $wallBorder dashed $escapeColor;
    }
  }
  &-bottom {
    border-bottom: $wallBorder solid $wallColor;
    &-escape {
      border-bottom: $wallBorder dashed $escapeColor;
    }
  }
}
