@import "/src/app/styles/colors";

.cell-row {
  display: flex;
}

.buttons {
  margin-top: 40px;
  button {
    margin-right: 15px;
  }
}

.logger {
  border-radius: 2px;
  padding: 5px;
  height: 70px;
  width: 300px;
  overflow: auto;
  background: lightgray;
  font-weight: bold;
  display: inline-block;
  border: $wallColor 2px solid;
  .stink {
    color: brown;
  }
  .breeze {
    color: blue;
  }
  .gold {
    color: green;
  }
}

.arrow-number,
.walk-mode {
  color: green;
}

.walk-btn-color {
  background-color: darkred;
}

.shoot-btn-color {
  background-color: green;
}

.no-arrows,
.arrow-mode {
  color: red;
}
