.cell-row {
  display: flex;
}

.board-table {
}

.buttons {
  margin-top: 40px;
  button {
    margin-right: 15px;
  }
}

.logger {
  border-radius: 2px;
  padding: 5px;
  height: 60px;
  width: 300px;
  overflow: auto;
  background: lightgray;
  font-weight: bold;
  .stink {
    color: brown;
  }
  .breeze {
    color: blue;
  }
  .gold {
    color: green;
  }
}
